ul,li{
  list-style: none;
}

.navbar{
  width:100vw;
  height:2vw;
  background:#313132;
}

.nav{
  width:50vw;
  height:100%;
  display:flex;
  margin:0 auto;
  justify-content: space-around;
  align-items: center;
}

.nav li{
  font-size: 11px;
  color:#d6d6d6;
}

.nav li:first-child{
  font-size: 15px;
  color:#fff;
}

.storelist{
  width: 45vw;
  margin:0 auto;
  height:50vh;
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  display:flex;
  flex-direction: column;
  align-items: center;
}

.storelist h1{
  font-size:3.7rem;
  font-weight: 900;
}

.storelist ul{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  gap: 0 20px;
  margin:80px 0 0 0;
}

.storelist li .img-wrap{
  height:10rem;
  display:flex;
  align-items: end;
  padding:0 20px;
}

.storelist li:first-child .img-wrap{
  padding:0 40px;
}

.storelist li .text-wrap{
  text-align:center;
  margin:30px 0 0 0;
  border-bottom: 1px solid #d2d2d7;
  padding:0 0 50px 0;
}

.storelist li .text-wrap h3{
  font-size:0.8rem;
  opacity: 0.7;
  font-weight: 500;
  margin:5px 0 0 0;
}

.storelist li .text-wrap h4{
  font-weight: 100;
  margin:20px 0 0 0;
  letter-spacing: 0.02rem;
}

.storelist li .text-wrap button{
  border:none;
  background:#0071e3;
  color:#fff;
  padding:7px 10px 6px 10px;
  font-size:11px;
  font-weight: 500;
  border-radius:20px;
  margin:30px 0 0 0;
  cursor: pointer;
}

.storelist li .text-wrap button:hover{
  opacity: 0.8;
}

.product{
  width:100%;
  background:#fff;
}

.product .acc{
  background:#fff;
}

.product .acc h1{
  width:47.8vw;
  height:100%;
  margin: 0 auto;
  font-size:20px;
  padding:15px 0;
}

.product .banner {
  width:100%;
  text-align:center;
  transition:all .4s ease-in-out
}

.product .banner h1{
  font-size: 12px;
  padding:20px 0;
  font-weight: 500;
}

.product .product-w{
  width:47.8vw;
  height:100%;
  margin: 0 auto;
  padding:50px 0 0 0;
}

.product .product-w .product-wrap {
  display:flex;
  width:100%;
}

.product .product-w .product-wrap .product-img{
  width:65%;
  padding: 0 0 0 5rem;
}

.product .product-w .product-wrap .product-text{
  width:35%;
}

.product .product-w .product-wrap .product-text h5{
  color:#bf4800;
  font-weight: 300;
  font-size: 1rem;
}

.product-id h1{
  margin:20px 0 0 0;
  font-weight: 900;
}

.product-id h2{
  font-weight:100;
  font-size: 1.2rem;
  opacity: 0.8;
  margin:1.5rem 0 0 0;
}

.product-id h3{
  font-weight:100;
  font-size: 1.2rem;
  opacity: 0.8;
  margin:0.2rem 0 0 0;
  color:#0071e3;
  font-size: .7rem;
}

.product-id span{
  height:1px;
  width:100%;
  background:#eee;
  margin:30px 0;
  display: inline-block;
}

.product-id .option {
  display:grid;
  grid-template-columns:1fr 10fr;
}

.product-id .option h4{
  display:grid;
  color:#0071e3;
  font-weight: 100;
  font-size: 1.1rem;
}

.product-id .option h4 span{
  height:auto;
  width:100%;
  background:transparent;
  margin:0;
  display: inline-block;
  color:#313132;
  font-weight: 100;
  font-size: .8rem;
  margin:5px 0 0 0;
  line-height: 160%;;
}

.product-id .option-t {
  display:grid;
  grid-template-columns:1fr 10fr;
  margin:30px 0 0 0;
}

.product-id .option-t h4{
  display:grid;
  font-weight: 100;
  font-size: 0.8rem;
}

.product-id .option-t h4 span{
  height:auto;
  width:100%;
  background:transparent;
  margin:0;
  display: inline-block;
  color:#313132;
  font-weight: 100;
  font-size: .8rem;
  margin:5px 0 0 0;
  line-height: 160%;
  color:#0071e3;
}

.product-id .option-t h4 .deliever{
  font-size: 0.9rem;
  margin:8px 0 0 0;
  font-weight: 600;
}


.product-id button {
  background:#0071e3;
  color:#fff;
  border:none;
  width:100%;
  padding:12px 0;
  margin:2.5rem 0 0 0;
  border-radius:10px;
  font-size: 1rem;
  cursor: pointer;
}

.product-id button:hover {
  opacity: 0.9;
}

.product-id .bookmark {
  display: grid;
  grid-template-columns:8fr 2fr;
  margin:40px 0 10px 0;
}

.product-id .bookmark-text h4 {
  font-size: .9rem;
}

.product-id .bookmark-text h2 {
  font-size: .9rem;
  padding:0;
  margin:10px 0 0 0;
}

.product-id .bookmark-icon{
  display:flex;
  align-items: start;
  justify-content: center;
  color:#0071e3;
}

.product-id .help{
  display: grid;
  grid-template-columns:1fr 8fr;
  padding:0 0 30px 0;
}

.product-id .help-text{
 font-size: .8rem;
 width:200px;
}

.product-id .help-text h3{
  display:inline-block;
  margin:0;
  padding:0;
}
.cart-wrap{
  background:#fff;
  width:100%;
  height:100%;
}

.cart {
  width:50vw;
  text-align: center;
  margin: 0 auto;
  background-color:#fff;
  font-weight: 900;
}

.cart h1{
  padding:5rem 0 1rem 0;
  font-size: 2.1rem;
}

.cart h2{
  font-size:1rem;
  font-weight: 600;
}

.cart button{
  text-align:center;
  border:none;
  background: #0071e3;
  color:#fff;
  width:30%;
  padding:10px 20px;
  border-radius:10px;
  margin:3rem 0;
}

.cart li{
  border-top: 1px solid #eee;
  display: grid;
  grid-template-columns: 2fr 8fr;
  padding:0 0 80px 0;
}

.cart .cart-img-wrap{
  padding:30px;
}

.cart .cart-text-wrap{
  text-align:left;
}

.cart .cart-title{
  display:flex;
  justify-content: space-between;
  height: 9rem;
}

.cart .cart-title h1{
  display:flex;
  align-items:center;
  font-size: 1.5rem;
  height:100%;
  margin:0;
  padding: 0;
}

.cart .cart-title span{
  display:flex;
  align-items:center;
  justify-content:center;
  font-size: 1.5rem; 
  height:100%;
}

.cart .cart-title-two {
  display:grid;
  grid-template-columns: 1fr 23fr;
  height: 9rem;
  border-top: 1px solid #eee;
  align-items:center;
  position: relative;
}

.cart .cart-title-two .cart-i{
  color:red;
  padding:0 0 0 5px;
  height:50%;
}

.cart .cart-title-two i{
  color:red;
  padding:0 0 4px 0;
}

.cart .cart-title-two .cart-applecare h1, .cart-store h1{
  font-size: 1rem; 
  margin:0;
  padding:0;
}

.cart .cart-title-two .cart-applecare h2{
  font-size: 0.8rem; 
  font-weight: 500;
  margin:0;
  padding:8px 0 0 0;
  opacity:0.9;
}

.cart .cart-title-two .cart-delievery {
  position: absolute;
  display:flex;
}

.cart .cart-title-two .cart-delievery span{
  color: #0071e3;
  font-weight: 500;
  margin:0 0 0 5px;
  display: flex;
  align-items: center;
}

.cart .cart-title-two .cart-store h1 {
  margin:60px 0 0 0;
  width:100%;
  font-size: 0.8rem;
  font-weight: 500;
}

.cart .cart-total-amount{
  border-top: 1px solid #eee;
  display: grid;
  grid-template-columns: 2fr 8fr;
}

.cart .cart-total-amount .cart-amount{
  text-align:left;
}

.cart .cart-total-amount .cart-amount .cart-line{
  display: flex;
  justify-content:space-between;
}

.cart .cart-total-amount .cart-amount .cart-line span{
  padding:5px 0;
  font-weight: 500;
}

.cart .cart-total-amount .cart-amount .cart-sum{
  border-top: 1px solid #eee;
  text-align: right;
}

.cart .cart-total-amount .cart-amount .cart-sum span{
  padding:20px 0;
}

.cart .cart-total-amount .cart-amount .cart-sum .cart-line .cart-card{
  padding:20px 0;
}

.cart .cart-total-amount .cart-amount .cart-sum .cart-line .cart-card h5{
  color:#0071e3;
  font-weight:500;
  margin:5px 0 0 0;
}